<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>twitterclone</title>
  </head>
  <body>
    <header class="header">
      <h2>編集画面</h2>
    </header>

    <div class="content">
      <%= render 'form' %>
    </div>
  <footer class="footer">
    <p>Copyright © 2022 twitterclone</p>
  </footer>
  </body>
</html>