<h1>ツイート一覧</h1>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <%= link_to '詳細を確認する', posts_path(post_id) %>
  </tr>
<% end %>
</table>

<%= link_to '新しく投稿する', newp_post_path %>