<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>twitterclone</title>
  </head>
  <body>
  <header class="header">
    <h1>詳細画面</h1>
  </header>

  <div class="content">
    <p>内容: <%= @post.content %></p>
  </div>
  <footer class="footer">
    <p>Copyright © 2022 twitterclone</p>
  </footer>
</body>
</html>